.profile {
    color: blue;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.white {
    color: white;
}

#load-history-btn:hover {
    color: white;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.scraped-ul {
    list-style-type: none;
}

.footnote {
    font-size: 13px;
}

.back-btn {
    display: inline-block;
}

.message-paragraph {
    white-space: pre-wrap;
}

.drivers-link {
    text-decoration: none;
}

.driver-links-text {
    text-decoration: underline;
}

.load-user{
    color: #6c757d;
}