.profile {
    color: blue;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.white {
    color: white;
}

#log-history-btn:hover {
    color: white;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.scraped-ul {
    list-style-type: none;
}