.profile {
    color: blue;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.show-inline {
    display: inline;
}

.white {
    color: white;
}

#load-history-btn:hover {
    color: white;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.scraped-ul {
    list-style-type: none;
}

.footnote {
    font-size: 13px;
}

.back-btn {
    display: inline-block;
}

.message-paragraph {
    white-space: pre-wrap;
}

.drivers-link {
    text-decoration: none;
}

.driver-links-text {
    text-decoration: underline;
}

.prepared-load-link {
    font-size: 12px;
    text-decoration: none;
}

.select-all-txt {
    font-size: 12px;
    text-transform: capitalize;
}

.prepared-load-info,
.checkbox-counter,
.palci,
.load-user {
    font-size: 12px;
    color: #6c757d;
}

#checkbox-counter-post,
#checkbox-counter-send {
    font-weight: bold;
}

#log-history table {
    font-size: 13px;
    min-width: 100%;
    display: flex;
}

#load-id {
    color: black;
}

