{% extends "truckBot/layout.html" %}

{% block title %}Index{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row mt-3 ms-2">
        <div class="col-12 col-lg-5">
            <h1 class="">embrace <span class="text-primary">Automation</span></h1>
        </div>
    </div>

    <div class="row ms-2">
        <div class=" col-0 col-md-1">

        </div>

        <div class="col-12 col-md-6">
            <h1> <span>empower</span> <span class="text-primary">Innovation</span></h1>
        </div>
    </div>

    <hr>
    {% if not user_banned %}
    <div class="d-grid gap-3 col-10 col-md-8 col-lg-5 mt-4 ms-2 mb-4 ">

        {% if messages %}

        {% if messages|length >= 3 %}
        <div class="alert alert-secondary d-flex justify-content-between align-items-center ms-4 my-0" role="alert">
            Close All Messages
            <button type="button" class="btn-close" id="close-all-alert-messages-btn" data-bs-dismiss="alert"
                aria-label="Close"></button>
        </div>
        {% endif %}

        {% for message in messages %}
        <div class="alert {{message.tags}} d-flex justify-content-between align-items-center ms-4 my-0" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}


        {% endif %}

        <!-- 1. PREPARING LANE LOADS -->
        <button type="button" class="ms-4 btn btn-outline-primary btn-lg" id="prepare-loads-btn"
            title="Preparing loads for posting on Landstar">Prepare
            Loads</button>

        <div id="prepare-loads" class="hide ms-4 mb-2">
            {% if postAllowed %}

            {% for company in companies %}

            <div id="{{ company.title }}">
                <p>Get loads from <strong><a class="icon-link text-decoration-none" href="{{ company.link }}"
                            target="_blank">
                            {{ company.title }}:
                        </a></strong></p>
                <hr>
                <div class="mb-3 d-flex justify-content-center">
                    <button class="btn btn-outline-primary me-3 txt-lane-info-btn" data-company="{{ company.title }}"
                        data-action="open" title="Insert lanes in txt file from {{ company.link }}">Insert Lane
                        Info</button>

                    <button class="btn btn-outline-danger txt-lane-info-btn" data-company="{{ company.title }}"
                        data-action="clear" title="Clear lanes in txt file from {{ company.link }}">Clear Lane
                        Info</button>
                </div>

                <form action="{% url 'prepare_loads' company=company.title %}" method="POST" class="ms-2">
                    {% csrf_token %}
                    <div class="d-grid  col-4 mx-auto">
                        <button type="submit" class="btn btn-outline-success" id="prepare-loads-btn">Prepare
                            Loads</button>
                    </div>
                </form>
            </div>

            <hr>
            {% endfor %}

            {% else %}
            <p>Plati pa se klati $$ €€ KM </p>
            {% endif %}
        </div>

        <!-- 2. POSTING LANE LOADS -->
        <button type="button" class="ms-4 btn btn-primary btn-lg" id="post-loads-btn"
            title="After inserting lane info, it will automatically post the loads on Landstar">Post
            Loads</button>

        <div id="post-loads" class="hide ms-4 mb-2">
            {% if postAllowed %}

            {% if prepared_loads %}
            <form method="POST">
                {% csrf_token %}
                <ul class="scraped-ul"> Posting load(s) on <strong><a class="icon-link text-decoration-none"
                            href="https://leads.landstaronline.com/AvailableLoads/NewLoadView.aspx?loadid=-500"
                            target="_blank">
                            Landstar</a></strong>:
                    {% for load in prepared_loads %}

                    <li class="ms-2 my-2">
                        <input type="checkbox" name="prepared_load_ids" value="{{ load.id }}"
                            class="checkbox-posting me-2 ms-2">
                        <a href="javascript:void(0);" class="text-start prepared-load-link"
                            title="Click for more details">
                            {{ load.origin }} -> {{ load.destination }} (${{ load.price }})</a>


                        {% if user.is_superuser %}
                        <span class="text-end mt-1 mb-1 palci"> by {{load.user.username}}</span>
                        {% endif %}

                        <div class=" ms-4 hide prepared-load-info" data-id="{{load.id}}">
                            Pick: {{load.origin}} on {{load.pickup}} <br>
                            Destination: {{load.destination}} on {{load.delivery}} <br>
                            Miles: {{load.miles}} mi <br>
                            Weight: {{load.weight}} lb <br>
                            Equipment: {{load.equipment}} <br>
                            RATE: {{load.price}} USD <br>
                        </div>

                    </li>
                    {% endfor %}
                    <input type="checkbox" id="select-all-posting" class="me-2 ms-3 mt-2"><span class="ms-1 select-all-txt">Select
                        All </span> <span class="checkbox-counter hide">&#40;<span id="checkbox-counter-post"></span> selected&#41;</span>

                    <div class="col-6 mx-auto mt-2">
                        <button class="btn btn-success post-delete-btn ms-auto" type="button" data-action="post"
                        data-url="{% url 'post_loads' %}" disabled>Post on Landstar</button>

                        <button class="btn btn-danger post-delete-btn me-auto" type="button" data-action="delete"
                        data-url="{% url 'delete_loads' %}" disabled>Delete</button>
                    </div>

                    <div class="col-6 mx-auto mt-2 hide">
                        <button class="btn btn-danger col-5" type="button" id="abort-posting-btn"
                        data-url="{% url 'set_abort_flag' %}">Abort</button>
                    </div>
                </ul>
            </form>

            {% else %}
            <p class="ms-4">No prepared loads in database for posting on <strong><a
                        class="icon-link text-decoration-none"
                        href="https://leads.landstaronline.com/AvailableLoads/NewLoadView.aspx?loadid=-500"
                        target="_blank">
                        Landstar</a></strong>!</p>
            {% endif %}

            {% else %}

            <p>Plati Ramo druže!</p>
            {% endif %}
        </div>


        <!-- 2. SCRAPING TRUCK INFORMATIONS ABOUT LOADS -->
        <button type="button" class="ms-4 btn btn-outline-dark btn-lg" id="scrape-load-btn"
            title="Automatically get load message and gather data about available truck drivers for the load(s)">Scrape
            Load(s)</button></a>

        <div id="scrape" class="hide ms-4 mb-4">
            <form action="{% url 'scrape' %}" method="POST" class="ms-4">
                {% csrf_token %}
                <a href="javascript:void(0);" id="radius-distance-link" style="display: block;">Distance Radius</a>
                <select name="radius-distance" id="radius-distance" class="hide mt-2 mb-2">
                    <option value="50">50</option>
                    <option value="100" selected>100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                </select>
                <label for="load_ids" class="form-label mt-2">Insert load id (or ids separated by commas):</label>
                <input type="text" name="load_ids" id="load_ids" class="form-control mb-3" autocomplete="off" autofocus
                    required value="{{ load_ids }}">
                <div class="d-grid  col-4 mx-auto">
                    <button type="submit" class="btn btn-outline-success" id="run-scrape-btn"
                        data-url="{% url 'set_scraping_flag' %}">Run</button>
                    <button type="button" class="btn btn-outline-danger mt-2 hide" id="abort-scrape-btn"
                        data-url="{% url 'set_abort_flag' %}">Abort</button>
                </div>
            </form>
        </div>


        <!-- 3. SENDING MESSAGES THROUGH THE ZOOM -->
        <button type="button" class="ms-4 btn btn-dark btn-lg" id="send-message-btn"
            title="Automatically send messages to the truck drivers">Send Messages</button></a>

        <div id="send-message" class="hide ms-3 mt-2">
            {% if loads %}
            <form action="{% url 'send_messages' %}" method="POST">
                {% csrf_token %}
                <ul class="scraped-ul">Scraped Loads:
                    {% for load_obj in loads %}
                    <li class="ms-2 my-2 palci">
                        <input type="checkbox" name="scraped_ids" value="{{ load_obj.load.id }}"
                            class="checkbox-sending me-2 ms-2">
                        <b id="load-id">{{ load_obj.load.id }}</b>
                        <a href="javascript:void(0);" class="ms-4 drivers-link"><span class="driver-links-text">Truck
                                drivers</span><span class="driver-links-numbers">
                                ({{ load_obj.informed_drivers }}/{{ load_obj.total_drivers }})</span>
                            <a href="javascript:void(0);" class="ms-4 mt-1 mb-1 load-msg-link">Message</a>
                            {% if user.is_superuser %}
                            <span class="ms-4 mt-1 mb-1 load-user"> by {{load_obj.load.user.username}}</a>
                        {% endif %}
                        <div class="hide ms-4 mb-4 mt-3 drivers-info"> So far
                            <b>{{load_obj.informed_drivers}}</b> of
                            <b>{{load_obj.total_drivers}}</b> drivers have been informed.
                        </div>

                        <div class="hide ms-4 mb-4 mt-3 load-msg-div">
                            <div class="show load-info">
                                <p class="message-paragraph">{{ load_obj.load.message }}</p>
                                <button type="button" class="btn btn-primary edit-load-msg-btn">Edit
                                    Message</button>
                            </div>

                            <div class="hide edit-msg-div">
                                <form id="load-msg-form">
                                    <textarea id="load_message" class="form-control" autocomplete="off"
                                        rows="7">{{load_obj.load.message}} </textarea>
                                    <button type="submit" class="btn btn-outline-success save-msg-btn me-2 mt-2"
                                        data-load_id="{{load_obj.load.id}}"
                                        data-url="{% url 'change_load_message' load_obj.load.id %}">Save</button>
                                    <button type="button" class="btn btn-outline-danger back-msg-btn mt-2">Back</button>
                                </form>
                            </div>

                        </div>

                    </li>
                    {% endfor %}

                    <input type="checkbox" id="select-all-sending" class="me-2 ms-3 mt-2"><span class="ms-1 select-all-txt">Select
                        All </span> <span class="checkbox-counter hide">&#40;<span id="checkbox-counter-send"></span> selected&#41;</span>

                    <div class="d-grid col-4 mx-auto">
                        <button class="btn btn-primary mt-2" type="submit" id="send-zoom-btn"
                            title="You need to be already logged in into Zoom for app to work!" disabled>Send via
                            Zoom</button>
                        <span class="fst-italic mt-2 footnote zoom-footnote hide">You need to be logged into Zoom
                            for
                            app to work</span>
                    </div>
                </ul>
            </form>

            {% else %}
            <p class="ms-4">No scraped loads in database</p>
            {% endif %}

        </div>


        <!-- 4. LOAD HISTORY -->
        <button type="button" class="ms-4 btn btn-outline-secondary btn-lg" id="log-history-btn"
            title="Informations about finished loads">Log History</button></a>

        <div id="log-history" class="hide mt-2 ms-4" data-isadmin="{{ isAdmin }}">
            <ul class="nav nav-tabs mb-2">

                {% if postAllowed %}
                <li class="nav-item">
                    <a class="nav-link table-links" aria-current="page" href="javascript:void(0);" data-url="{% url 'posted_history' %}">Posted</a>
                </li>
                {% endif %}
                
                <li class="nav-item">
                    <a class="nav-link table-links " aria-current="page" href="javascript:void(0);" data-url="{% url 'send_history' %}">Informed</a>
                </li>
            </ul>
            {% if postAllowed %}

            <table class="hide table table-striped table-hover text-center ms-2" id="post-history">
                <thead>
                    <tr>
                        <th scope="col"># <br></th>
                        <th scope="col">Load<br></th>
                        <th scope="col">Landstar id</th>
                        <th scope="col">Log time <br></th>

                        {% if isAdmin %}
                        <th scope="col">User <br></th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>

            {% endif %}


            <table class="hide table table-striped table-hover text-center ms-2" id="send-history">
                <thead>
                    <tr>
                        <th scope="col"># <br></th>
                        <th scope="col">Load Id <br></th>
                        <th scope="col">Num. of drivers <br>informed</th>
                        <th scope="col">Log time <br></th>

                        {% if isAdmin %}
                        <th scope="col">User <br></th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody>

                </tbody>
 
            </table>


        </div>

    </div>

    {% else %}

    <p>AMX BAN 1000</p>
    {% endif %}

</div>
{% endblock %}