{% extends "truckBot/layout.html" %}

{% block title %}Profile page{% endblock %}

{% block body %}

<div class="container-fluid">

    {% if message %}
    <div class="alert alert-{{ message.style }} alert-dismissible fade show" role="alert">
        <span>{{message.content}}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <h2 class="mt-2 ms-4">Login</h2>

    {% else %}

    <h2 class="mt-4 ms-2"> <span class="text-primary"> {{profile.username}} </span>Profile Page</h2>
    {% endif %}

    <div class="mt-4 ms-2">

        <div id="truckBot" class="mb-4">
            <h5>truckBot:</h5>
            <div class="show ms-4 profile-view">
                <span>Username: <b>{{ profile.username }}</b></span>
                <br><span>Email: <b>{{ profile.email }}</b></span>
                <br><button class="mt-2 btn btn-outline-primary edit-btn">Change Password</button>
            </div>

            <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                <div class="hide ms-4 col-5 profile-change">
                    <input type="hidden" name="form_type" value="truckBot">

                    <label for="truck_current_password" class="form-label">Current Password: </label>
                    <input type="password" name="truck_current_password" id="truck_current_password" class="form-control"
                        autocomplete="off"> <br>

                    <label for="truck_new_password" class="form-label">New Password: </label>
                    <input type="password" name="truck_new_password" id="truck_new_password" class="form-control"
                        autocomplete="off"> <br>

                    <label for="truck_confirm_password" class="form-label">Confirm Password: </label>
                    <input type="password" name="truck_confirm_password" id="truck_confirm_password" class="form-control"
                        autocomplete="off">
                    <br><button type="submit" class="btn btn-outline-success save-btn">Save</button>
                    <button class="btn btn-outline-danger back-btn">Back</button>
                </div>
            </form>

        </div>

        <div id="zoom" class="mb-4">
            <h5>Zoom:</h5>
            <div class="show ms-4 profile-view">
                <span>Zoom.exe path: <b>{{ profile.zoom_exe_path }}</b></span>
                <br><span>Zoom phone number: <b>{{ profile.zoom_phone_numb }}</b></span>
                <br><button class="mt-2 btn btn-outline-primary edit-btn">Edit</button>
            </div>

            <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                <div class="hide ms-4 col-5 profile-change">
                    <input type="hidden" name="form_type" value="zoom">

                    <label for="zoom_exe" class="form-label">Path of zoom.exe file: </label>
                    <input type="text" name="zoom_exe" id="zoom_exe" class="form-control" autocomplete="off" 
                    value="{{profile.zoom_exe_path}}"> <br>

                    <label for="zoom_phone_num" class="form-label">Zoom Phone Number: </label>
                    <input type="text" name="zoom_phone_num" id="zoom_phone_num" class="form-control"
                        autocomplete="off" value="{{profile.zoom_phone_numb}}">
                    <br><button type="submit"  class="btn btn-outline-success save-btn">Save</button>
                     <button class="btn btn-outline-danger back-btn">Back</button>
                </div>
            </form>

        </div>


        <div id="landstar" class="mb-4">
            <h5>Landstar:</h5>
            <div class="show ms-4 profile-view">
                <span>First name: <b>{{ profile.landstar_firstname}}</b></span>
                <br> <span>Last name: <b>{{ profile.landstar_lastname}}</b></span>
                <br> <span>Credentials path: <b>{{ profile.landstar_credentials_path }}</b></span>
                <br><button class="mt-2 btn btn-outline-primary edit-btn">Edit</button>
            </div>

            <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                <div class="hide ms-4 col-5 profile-change">
                    <input type="hidden" name="form_type" value="landstar">

                    <label for="landstar_firstname" class="form-label">First Name: </label>
                    <input type="text" name="landstar_firstname" id="landstar_firstname" class="form-control"
                        autocomplete="off" value="{{ profile.landstar_firstname }}""> <br>

                        <label for="landstar_lastname" class="form-label">Last Name: </label>
                        <input type="text" name="landstar_lastname" id="landstar_lastname" class="form-control"
                            autocomplete="off" value="{{ profile.landstar_lastname }}""> <br>

                    <label for="landstar_credentials" class="form-label">Landstar Credentials path (.txt file): </label>
                    <input type="text" name="landstar_credentials" id="landstar_credentials" class="form-control"
                        autocomplete="off" value="{{ profile.landstar_credentials_path }}""> <br>

                    <br><button type="submit" class="btn btn-outline-success save-btn">Save</button> <button
                        class="btn btn-outline-danger back-btn">Back</button>
                </div>
            </form>
        </div>

    </div>


</div>

{% endblock %}